<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="LoyydowskiModPack"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" &quot;@C:\\Users\\Bartek\\Desktop\\Programista BK\\GameDev\\LoyydowskiModPack\\build\\moddev\\clientRunProgramArgs.txt&quot;"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" &quot;@C:\\Users\\Bartek\\Desktop\\Programista BK\\GameDev\\LoyydowskiModPack\\build\\moddev\\clientRunVmArgs.txt&quot; &quot;-Dfml.modFolders=mcreator%%C:\\Users\\Bartek\\Desktop\\Programista BK\\GameDev\\LoyydowskiModPack\\bin\\main&quot;"></stringAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="MOD_CLASSES" value="mcreator%%C:\Users\Bartek\Desktop\Programista BK\GameDev\LoyydowskiModPack\bin\main"></mapEntry>
    </mapAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Bartek\Desktop\Programista BK\GameDev\LoyydowskiModPack\run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>